$baseColor: #398B93;
$borderRadius: 10px;
$imageBig: 100px;
$imageSmall: 60px;
$padding: 10px;
@import "../ctr.vars.scss";

.details-container{
    margin: 10% 0% 0% 40%;
}
.details-header{
    color:#f0ad4e;
}