$pink: #d9534f;
$pink2: #af4340;
$gray: #2b2a2a;
$orange: #f0ad4e;
$white: white;

@import "../ctr.vars.scss";
body .btn-warning {
  color: $orange !important;
  background-image: -webkit-linear-gradient(top, $gray 0, $gray 100%); }
  body .btn-warning a{
    color: $orange !important;    
  }
  body .btn-danger {
  color: $pink;
  background-image: -webkit-linear-gradient(top, $gray 0, $gray 100%); }
body .btn-danger:hover {
  background-image: -webkit-linear-gradient(top, $pink 0, $pink 100%); }
body .btn-warning:hover {
  background-image: -webkit-linear-gradient(top, $orange 0, $orange 100%); }
  body .btn-warning a:hover{
    color: #fff !important;
  }

  .row {
    padding-top: 10px;
    margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 20px; }
  .container {
    font-family: cursive; }
  
  .popup-wrapper {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #232120;
    z-index: 9; }

    .search {
      margin: auto;
      margin-top: 7%; }
    
    .searchtext {
      font-family: David;
      font-size: 50px;
      top: 8%;
      right: 60%;
      position: absolute; }

      .empty-td {
        display: none !important; } 

        .save-btn {
          left: 5%;
          width: 90%;
          background-color: $pink2;
          color: $white;
          padding: 14px 20px;
          margin: 35px 0px 10px;
          border-radius: 4px;
          cursor: pointer;
          border: none;
                }

        .btn-check{
          height: 15px;
        }
        .checked-input{
          height: 18px;
          width: 18px;
        }
        .wrapper-details {
          width: 50%;
          position: absolute;
          top: 7%;
          left: 25%;
          z-index: 10;
          background-color: $white;
          text-align: center;
          border: 3px solid $pink2;
          border-radius: 15px; }

          .details-to-fill {
            z-index: 10; }

          .cancel-btn{
            width: 90%;
            background-color: $pink2;
            color: $white;
            padding: 14px 20px;
            margin: 0px 0 30px;
            border-radius: 4px;
            cursor: pointer;
            border: none;          }
          .remark:focus{
            outline: none !important;
            -webkit-box-shadow: 0 0 10px $gray;
            box-shadow: 0 0 10px $gray;
          }
          .btn-details{
            position: relative;
            background-color: transparent;
            border: 1px solid $white;
            a{
              color:$white;
            }       
          }
          .btn-details:hover{
            background-color: $white;
            a{
              color:$gray;
            }
          }
          .btn-details-done{
            float: right;
            margin-top: -34px;
            margin-left: 100px;
            margin-right: -80px;          
          }      