body .btn-warning {
  color: #f0ad4e !important;
  background-image: -webkit-linear-gradient(top, #2b2a2a 0, #2b2a2a 100%); }

body .btn-warning a {
  color: #f0ad4e !important; }

body .btn-danger {
  color: #d9534f;
  background-image: -webkit-linear-gradient(top, #2b2a2a 0, #2b2a2a 100%); }

body .btn-danger:hover {
  background-image: -webkit-linear-gradient(top, #d9534f 0, #d9534f 100%); }

body .btn-warning:hover {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0, #f0ad4e 100%); }

body .btn-warning a:hover {
  color: #fff !important; }

.row {
  padding-top: 10px;
  margin-right: -15px;
  margin-left: -15px;
  padding-bottom: 20px; }

.container {
  font-family: cursive; }

.popup-wrapper {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #232120;
  z-index: 9; }

.search {
  margin: auto;
  margin-top: 7%; }

.searchtext {
  font-family: David;
  font-size: 50px;
  top: 8%;
  right: 60%;
  position: absolute; }

.empty-td {
  display: none !important; }

.save-btn {
  left: 5%;
  width: 90%;
  background-color: #af4340;
  color: white;
  padding: 14px 20px;
  margin: 35px 0px 10px;
  border-radius: 4px;
  cursor: pointer;
  border: 3px solid #232120; }

.btn-check {
  height: 15px; }

.checked-input {
  height: 18px;
  width: 18px; }

.wrapper-details {
  width: 50%;
  position: absolute;
  top: 7%;
  left: 25%;
  z-index: 10;
  background-color: white;
  text-align: center;
  border: 3px solid #af4340;
  border-radius: 15px; }

.details-to-fill {
  z-index: 10; }

.cancel-btn {
  width: 90%;
  background-color: #af4340;
  color: white;
  padding: 14px 20px;
  margin: 0px 0 30px;
  border-radius: 4px;
  cursor: pointer;
  border: 3px solid #232120; }

.remark:focus {
  outline: none !important;
  -webkit-box-shadow: 0 0 10px #2b2a2a;
  box-shadow: 0 0 10px #2b2a2a; }
