.center-wrap {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 125px);
  width: 250px;
  height: 200px; }

.home {
  font-family: David;
  margin-top: 10%;
  margin-left: 23%; }

._img {
  background-color: #2b2a2a;
  color: white; }

body * {
  box-sizing: border-box; }

.text {
  margin: 0% 0% 0% 10%;
  color: #888990;
  font-size: 8rem;
  text-transform: uppercase;
  font-family: cursive; }

.number {
  font-family: cursive;
  font-size: 70px;
  color: #d9534f;
  margin: 5% 0% 0% 32%; }

.button {
  background: none center center no-repeat;
  background-size: cover;
  border: 2px solid #2e2e2e;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  padding: 20px 15px;
  text-align: center;
  max-width: 30vw;
  min-width: 10vw;
  cursor: pointer;
  width: 25vw;
  margin: 100% 0% 0% -46%; }

.button a {
  color: #969696;
  font-family: cursive;
  text-decoration: none; }

.button .shift {
  -webkit-transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1); }

.button:hover {
  border-color: #af4340; }

.button:hover a {
  color: #af4340; }

.button:hover .shift {
  padding-left: 5px; }

input[type=text] {
  right: 35%;
  -webkit-box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 4px;
  font-size: 30px;
  padding: 8px 20px 8px 40px;
  width: 100%;
  text-align: center;
  color: #af4340;
  letter-spacing: 2px;
  background-color: transparent; }

a:hover {
  text-decoration: none; }
