.home {
  font-family: David;
  margin-top: 10%;
  margin-left: 27%; }

._img {
  background-color: #2b2a2a;
  color: white; }

body * {
  box-sizing: border-box; }

.text {
  color: #888990;
  font-size: 9vmin;
  text-transform: uppercase;
  font-family: cursive; }

.number {
  font-family: cursive;
  font-size: 6vmin;
  color: #f0ad4e;
  margin: 5% 0% 0% 27%; }

.checked-input {
  height: 18px;
  width: 18px; }

.button {
  background: none center center no-repeat;
  background-size: cover;
  border: 2px solid #2e2e2e;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  padding: 20px 15px;
  text-align: center;
  max-width: 30vw;
  min-width: 10vw;
  cursor: pointer;
  width: 25vw;
  margin: 10% 0% 0% 13%; }
  .button a {
    color: #969696;
    font-family: cursive;
    text-decoration: none; }

.button:hover {
  border-color: #af4340; }
  .button:hover a {
    color: #af4340; }
  .button:hover .shift {
    padding-left: 5px; }

a:hover {
  text-decoration: none; }
