$baseColor: #398B93;
$borderRadius: 10px;
$imageBig: 100px;
$imageSmall: 60px;
$padding: 10px;
@import "../ctr.vars.scss";

.error-message {
    color: red;
    margin-top: -10.5%;
    text-align: center; }

    .add {
        top: 20%;
        left: 30%;
        position: absolute;
        font-family: cursive; }

.ss, select {
width: 100%;
padding: 12px 20px;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box; }

select {
margin: 20px 0; }

.ss {
margin: 75px 0;
color: #af4340; }
.ss:hover,.ss:focus{
outline: none !important;
box-shadow: 0 0 10px #2b2a2a;
}
.sumbit {
left: 5%;
position: absolute;
bottom: 4%;
width: 90%;
background-color: #af4340;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
border-radius: 4px;
cursor: pointer; }

.cancel {
left: 5%;
top: 60%;
position: absolute;
bottom: 75%;
width: 90%;
height: 14.5%;
background-color: #af4340;
color: white;
padding: 14px 20px;
border: none;
border-radius: 4px;
cursor: pointer; }

.ss:hover {
background-color: rgba(0, 0, 0, 0.1); }

form {
border-radius: 5px;
background-color: #f2f2f2;
padding: 50px;
width: 40%;
height: 35%;
top: 2%;
position: absolute; }
  
.titleAdd {
text-align: center;
top: 10%;
font-size: 30px;
left: 41%;
position: absolute;
color: #af4340; }

.remark {
    padding: 2%;
    width: 80%;
    border: 1px solid;
    margin-top: 5%; } 