body .btn-warning {
  color: #f0ad4e !important;
  background-image: -webkit-linear-gradient(top, #2b2a2a 0, #2b2a2a 100%); }

body .btn-warning a {
  color: #f0ad4e !important; }

body .btn-danger {
  color: #d9534f;
  background-image: -webkit-linear-gradient(top, #2b2a2a 0, #2b2a2a 100%); }

body .btn-danger:hover {
  background-image: -webkit-linear-gradient(top, #d9534f 0, #d9534f 100%); }

body .btn-warning:hover {
  background-image: -webkit-linear-gradient(top, #f0ad4e 0, #f0ad4e 100%); }

body .btn-warning a:hover {
  color: #fff !important; }

.row {
  padding-top: 10px;
  margin-right: -15px;
  margin-left: -15px;
  padding-bottom: 20px; }

.container {
  font-family: cursive; }

.popup-wrapper {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #232120;
  z-index: 9; }

.search {
  margin: auto;
  margin-top: 7%; }

.searchtext {
  font-family: David;
  font-size: 50px;
  top: 8%;
  right: 60%;
  position: absolute; }

.empty-td {
  display: none !important; }

.save-btn {
  left: 5%;
  width: 90%;
  background-color: #af4340;
  color: white;
  padding: 14px 20px;
  margin: 35px 0px 10px;
  border-radius: 4px;
  cursor: pointer;
  border: 3px solid #232120; }

.btn-check {
  height: 15px; }

.checked-input {
  height: 18px;
  width: 18px; }

.wrapper-details {
  width: 50%;
  position: absolute;
  top: 7%;
  left: 25%;
  z-index: 10;
  background-color: white;
  text-align: center;
  border: 3px solid #af4340;
  border-radius: 15px; }

.details-to-fill {
  z-index: 10; }

.cancel-btn {
  width: 90%;
  background-color: #af4340;
  color: white;
  padding: 14px 20px;
  margin: 0px 0 30px;
  border-radius: 4px;
  cursor: pointer;
  border: 3px solid #232120; }

.remark:focus {
  outline: none !important;
  -webkit-box-shadow: 0 0 10px #2b2a2a;
  box-shadow: 0 0 10px #2b2a2a; }

.center-wrap {
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 125px);
  width: 250px;
  height: 200px; }

.home {
  font-family: David;
  margin-top: 10%;
  margin-left: 23%; }

._img {
  background-color: #2b2a2a;
  color: white; }

body * {
  box-sizing: border-box; }

.text {
  margin: 0% 0% 0% 10%;
  color: #888990;
  font-size: 8rem;
  text-transform: uppercase;
  font-family: cursive; }

.number {
  font-family: cursive;
  font-size: 70px;
  color: #f0ad4e;
  margin: 5% 0% 0% 32%; }

.checked-input {
  height: 18px;
  width: 18px; }

.button {
  background: none center center no-repeat;
  background-size: cover;
  border: 2px solid #2e2e2e;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  padding: 20px 15px;
  text-align: center;
  max-width: 30vw;
  min-width: 10vw;
  cursor: pointer;
  width: 25vw;
  margin: 100% 0% 0% -46%; }

.button a {
  color: #969696;
  font-family: cursive;
  text-decoration: none; }

.button .shift {
  -webkit-transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.1s cubic-bezier(0.19, 1, 0.22, 1); }

.button:hover {
  border-color: #af4340; }

.button:hover a {
  color: #af4340; }

.button:hover .shift {
  padding-left: 5px; }

input[type=text] {
  right: 35%;
  /* -webkit-box-sizing: border-box; */
  border: 2px solid #fff;
  border-radius: 4px;
  font-size: 30px;
  padding: 8px 20px 8px 40px;
  width: 90%;
  text-align: center;
  color: #af4340;
  letter-spacing: 2px;
  background-color: transparent; }

a:hover {
  text-decoration: none; }

.error-message {
  color: red;
  margin-top: -10.5%;
  text-align: center; }

.add {
  top: 20%;
  left: 30%;
  position: absolute;
  font-family: cursive; }

.ss, select {
  width: 100%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; }

select {
  margin: 20px 0; }

.ss {
  margin: 75px 0;
  color: #af4340; }

.ss:hover, .ss:focus {
  outline: none !important;
  box-shadow: 0 0 10px #2b2a2a; }

.sumbit {
  left: 5%;
  position: absolute;
  bottom: 4%;
  width: 90%;
  background-color: #af4340;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

.cancel {
  left: 5%;
  top: 60%;
  position: absolute;
  bottom: 75%;
  width: 90%;
  height: 14.5%;
  background-color: #af4340;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

.ss:hover {
  background-color: rgba(0, 0, 0, 0.1); }

form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 50px;
  width: 40%;
  height: 35%;
  top: 2%;
  position: absolute; }

.titleAdd {
  text-align: center;
  top: 10%;
  font-size: 30px;
  left: 41%;
  position: absolute;
  color: #af4340; }

.remark {
  padding: 2%;
  width: 80%;
  border: 1px solid;
  margin-top: 5%; }

.navigation-link {
  color: #f0ad4e !important;
  font-size: 2rem; }

.navbar-inverse {
  background-image: -webkit-linear-gradient(top, #af4340 0, #af4340 100%); }

.App {
  text-align: center; }
