@import './components/todoList/TodoList.scss';
@import './components/home/home.scss';
@import './components/add/Add.scss';
@import './components/layout/Layout.scss';
@import './components/Details/Details.scss';
.App {
  text-align: center;
}